Libs/EDM.DocFile/Service References/MLGWAddrLookup/mlgw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="lookUpAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lookUpAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lookUpAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="lookUpAddressSoapIn">
    <wsdl:part name="parameters" element="tns:lookUpAddress" />
  </wsdl:message>
  <wsdl:message name="lookUpAddressSoapOut">
    <wsdl:part name="parameters" element="tns:lookUpAddressResponse" />
  </wsdl:message>
  <wsdl:message name="lookUpAddressHttpGetIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="lookUpAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lookUpAddressHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="lookUpAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MLGWSoap">
    <wsdl:operation name="lookUpAddress">
      <wsdl:input message="tns:lookUpAddressSoapIn" />
      <wsdl:output message="tns:lookUpAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MLGWHttpGet">
    <wsdl:operation name="lookUpAddress">
      <wsdl:input message="tns:lookUpAddressHttpGetIn" />
      <wsdl:output message="tns:lookUpAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MLGWHttpPost">
    <wsdl:operation name="lookUpAddress">
      <wsdl:input message="tns:lookUpAddressHttpPostIn" />
      <wsdl:output message="tns:lookUpAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MLGWSoap" type="tns:MLGWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="lookUpAddress">
      <soap:operation soapAction="http://tempuri.org/lookUpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLGWSoap12" type="tns:MLGWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="lookUpAddress">
      <soap12:operation soapAction="http://tempuri.org/lookUpAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLGWHttpGet" type="tns:MLGWHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="lookUpAddress">
      <http:operation location="/lookUpAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLGWHttpPost" type="tns:MLGWHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="lookUpAddress">
      <http:operation location="/lookUpAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MLGW">
    <wsdl:port name="MLGWSoap" binding="tns:MLGWSoap">
      <soap:address location="http://edfstva.visionaire-us.com/mlgw.asmx" />
    </wsdl:port>
    <wsdl:port name="MLGWSoap12" binding="tns:MLGWSoap12">
      <soap12:address location="http://edfstva.visionaire-us.com/mlgw.asmx" />
    </wsdl:port>
    <wsdl:port name="MLGWHttpGet" binding="tns:MLGWHttpGet">
      <http:address location="http://edfstva.visionaire-us.com/mlgw.asmx" />
    </wsdl:port>
    <wsdl:port name="MLGWHttpPost" binding="tns:MLGWHttpPost">
      <http:address location="http://edfstva.visionaire-us.com/mlgw.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>